html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
	font-family:'Dosis', sans-serif;
}

img {
	width: 100%;
	display: block;
}

h1 {
	padding-bottom: 1em;
	margin: 0;
	font-size: 3em;
	color: #512200;
	padding: 0.5em;
}

.masthead {
	background-image: url("../images/logo.svg"), url("../images/masthead-bg.png");
	background-size: 75px auto, 200px auto;
	background-repeat: no-repeat, repeat;
	text-align: center;
}

nav li {
	list-style-type: none;
	display: inline-block;
	width: 24.6%;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

nav ul {
	padding: 0;
	margin: 0;
	background-color: #512200;
	opacity: 0.5;
	font-weight: bold;
}

a {
	font-size: 1.5em;
	text-decoration: none;
	color: white;
}

.banner {
	background-image: url("../images/rocks.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	margin: 0;
}

.banner h2 {
	padding-top: 7em;
	padding-bottom: 1em;
	color: #fff;
	width: 100%;
	text-align: center;
	margin: 0;
	font-weight: bolder;
}

.left {
	float: left;
	width: 50%;
	height: 50%;
}

.right {
	float: right;
	width: 50%;
	height: 50%;
}

/*
footer {
	clear: both;
	height: 4em;
	width: 100%;
	background: rgba(81, 34, 0, 0.5);
}*/

footer {
	background-image: url("../images/logo.svg");
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	margin: 0;
	clear: both;

}

.logo {
	position: absolute;
	width: 25px;
	left: 150px;
	margin-top: 0.5px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	background-color: rgba(81, 34, 0, 0.5);
}
